server:
  port: 5001
  
spring:
  application:
    name: zuul-gateway
    
info:
  app:
    name: '@project.artifactId@'
  build:
    artifactId: '@project.artifactId@'
    version: '@project.version@'
  author:
    name: '${spring.application.name}'

eureka:
  instance:
    hostname: @project.artifactId@
    appname: @project.artifactId@
    prefer-ip-address: true
    instance-id: ${eureka.instance.hostname}:${server.port}
    metadata-map:
     zone: AllZone #GreatSnow
  client:
    healthcheck:
      enabled: true
    fetch-registry: true
    register-with-eureka: true
    prefer-same-zone-eureka: true
    region: DaLian
    availability-zones:
     DaLian: AllZone,GreatSnow,LightSnow
    service-url:
      LightSnow: http://eureka-server:eureka-server@server-light-snow:1001/eureka/
      GreatSnow: http://eureka-server:eureka-server@server-great-snow:1002/eureka/
      AllZone: http://eureka-server:eureka-server@server-light-snow:1001/eureka/,http://eureka-server:eureka-server@server-great-snow:1002/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
        
ribbon:
  eureka:
    enabled: false

zuul:
  ignoredServices: 'produce,hystrix'
  prefix: /open-service
  routes:
    consumer-ribbon:
      path: /consumer-ribbon/**
      url: http://localhost:3001/
      serviceId: consumer-ribbon
    consumer-feign:
      path: /consumer-feign/**
      url: http://localhost:3002/
      serviceId: consumer-feign

 