server:
  port: 10010
  
spring:
  application:
    name: server-config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/githubken0426/micro
          search-paths: config  #配置文件所在根目录
          username: 271643894@qq.com
          password: wk1985_git
          
info:
  profile: dev
  app:
    name: '@project.artifactId@'
  build:
    artifactId: '@project.artifactId@'
    version: '@project.version@'
  author:
    name: '${spring.application.name}-${info.profile}'